<div class="root">
  <h1 [style.background-color]="getBgColor()">First Component</h1>
  <button (click)="onClickChangeText()">change text</button>
  <button (click)="onClickChangeObjectRef()">change object</button>
  <button (click)="onClickChangeObjectString()">change title</button>
  <button (click)="onClickUpdateFetchedTodo()">update fetched title</button>
  <p>String: {{ text }}</p>
  <p>Object: {{ todo }}</p>
  <p>Object Title: {{ todo.title }}</p>
  <p>FetchedObject Title: {{ fetchedTodo.title }}</p>
  <app-first-one
    [text]="text"
    [todo]="todo"
    [fetchedTodo]="fetchedTodo"
  ></app-first-one>
  <app-first-two
    [text]="text"
    [todo]="todo"
    [fetchedTodo]="fetchedTodo"
  ></app-first-two>
</div>
